<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- VUE.JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- MOMENTS JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" charset="utf-8"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="style.css">
        <title>Vue Boolzapp</title>
    </head>
    <body>
        <div id="root">

            <!-- background page -->
            <div class="background">
                <div class="top-background"></div>
            </div>

            <!-- container generale della chat diviso in due parti -->
            <div class="container">
                <!-- parte sinistra  -->
                <div class="list-user">
                    <div class="img-user-left">  <!-- immagine profilo più icone -->
                        <div class="profile-user">
                            <img :src="profile.avatar" alt="imgProfile">
                            <span>{{ profile.name }}</span>
                        </div>
                        <div class="right-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- sezione alert delle notifiche -->
                    <div class="alert-notify">
                        <div class="bell-alert">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="mex-alert">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- ricerca nomi contatti -->
                    <div class="research">
                        <i class="fas fa-search"></i>
                        <input id="search-bar" type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyUp="filteredList">
                    </div>
                    <!-- lista delle chat recenti -->
                    <div class="recent-chat">
                        <!-- v-if e ciclo for  -->
                        <div class="list-chat" v-if="user.visible" v-for="(user, index) in contacts" @click="selectChat(index)" :class="index == chatActive ? 'active' : null">
                            <div class="recent-conversations">
                                <div class="recent-user-img">
                                    <img :src="user.avatar" alt="user.name">
                                </div>
                                <!-- prendo il nome e l'ultimo messaggio dell'user -->
                                <div class="recent-user-mex">
                                    <h4>{{ user.name }}</h4>
                                    <p>{{ user.messages[user.messages.length - 1].message}}</p>
                                </div>
                            </div>
                            <div class="time-last-mex">
                                <span> {{ timeLastMex(user) }}</span>
                            </div>
                        </div>
                    </div>
                <!-- end list user -->
                </div>

                <!-- parte destra -->
                <div class="chat">
                    <div class="img-user-right">  <!-- immagine utente più icone -->
                        <div class="info-user-active">
                            <div>
                                <img :src="contacts[chatActive].avatar" alt="imgProfile">
                            </div>
                            <div>
                                <h4> {{ contacts[chatActive].name }}</h4>
                                <p>ultimo accesso
                                    <span> {{  contacts[chatActive].messages[contacts[chatActive].messages.length - 1].date }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="right-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- messaggi in chat -->
                    <div id="chat-page" class="conversation"  >
                        <div class="chat-mexage" v-for="(mex, index) in contacts[chatActive].messages" >
                            <p :class="mex.status"> {{ mex.message}}
                                <span class="time-messages"> 12:00 </span>
                                <i id="arrow-menu" class="fas fa-angle-down">
                                    <span @click="remove(index)">Cancella</span>
                                </i>
                            </p>
                        </div>
                    </div>
                    <!-- input scrittura messaggi -->
                    <div class="input-mex">
                        <i class="far fa-smile"></i>
                        <input id="input-message" type="text" name="" value="" placeholder="scrivi un messaggio" v-model="newMex" @keyUp.enter="addNewMex">
                        <i id="invio-mex" @click="addNewMex" class="fas fa-paper-plane"></i>
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        <!-- end root -->
        </div>

        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
