*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ridimensiono tutte le immagini avatar */
img{
    height: 60px;
    width: 60px;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
	top: 0;
    left: 0;
	z-index: -1;
	background-color: #d9dbd5;
}

.top-background{
    width: 100vw;
    height: 125px;
    background-color: #1a9688;
}

.container{
    display: flex;
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    height: 90%;
    border: 2px solid;
}

.list-user{
    width: 40%;
    background-color: gray;
}

.chat{
    width: 60%;
    background-color: coral;
}

.img-user{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.right-icons i{
    font-size: 20px;
    color: lightgray;
    padding: 10px;
}
