*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ridimensiono tutte le immagini avatar */
img{
    height: 60px;
    width: 60px;
    cursor:pointer;
    border-radius: 50%;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
	top: 0;
    left: 0;
	z-index: -1;
	background-color: #d9dbd5;
}

.top-background{
    width: 100vw;
    height: 125px;
    background-color: #1a9688;
}

.container{
    display: flex;
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    height: 90%;
    border: 2px solid;
}

.list-user{
    width: 40%;
    background-color: gray;
}

.chat{
    width: 60%;
    background-color: coral;
}

.img-user{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.right-icons i{
    font-size: 20px;
    color: lightgray;
    padding: 10px;
}

/* section alert mex */
.alert-notify{
    background-color: rgb(16, 154, 249);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.bell-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.bell-alert i{
    font-size: 22px;
    color: rgb(153, 223, 252);

}

.mex-alert p{
    font-size: 12px;
    text-decoration: underline;

}

/* barra di ricerca */

.research{
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
}

.research i{
    color: rgb(190, 193, 195);
    font-size: 15px;
    padding: 10px;
}

#search-bar{
    border: none;
    width: 90%;
    line-height: 30px;
    padding-left: 10px;
    border-radius: 20px;
}
